-- CreateTable
CREATE TABLE "FeatureFlagSegmentTarget" (
    "id" TEXT NOT NULL,
    "flagEnvironmentId" TEXT NOT NULL,
    "segment" TEXT NOT NULL,
    "include" BOOLEAN NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FeatureFlagSegmentTarget_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "FeatureFlagSegmentTarget_flagEnvironmentId_idx" ON "FeatureFlagSegmentTarget"("flagEnvironmentId");

-- CreateIndex
CREATE INDEX "FeatureFlagSegmentTarget_segment_idx" ON "FeatureFlagSegmentTarget"("segment");

-- CreateIndex
CREATE UNIQUE INDEX "FeatureFlagSegmentTarget_flagEnvironmentId_segment_key" ON "FeatureFlagSegmentTarget"("flagEnvironmentId", "segment");

-- AddForeignKey
ALTER TABLE "FeatureFlagSegmentTarget" ADD CONSTRAINT "FeatureFlagSegmentTarget_flagEnvironmentId_fkey" FOREIGN KEY ("flagEnvironmentId") REFERENCES "FeatureFlagEnvironment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

